
body {
	background-color: aquamarine;
}

.main-container {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	margin: auto;
}


.container {
	display: flex;
	/* border: 1px solid tomato; */
}

.title {
	justify-content: center;
}

.social-media {
	justify-content: end;
}

.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.navigation-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 50%;

}

.navigation-item {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid rgb(31, 31, 31);
	height: 175px;
	width: 175px;
	margin-top: 30px;
	border-radius: 16px;
	font-style: italic;
	font-size: 30px;
	word-wrap: break-word;
	text-align: center;
}

@media screen and (max-width: 750px) {
	.navigation {
		justify-content: space-between;
		margin: 30px auto;
	}

	.social-media {
		justify-content: center;
	}
}

@media screen and (max-width: 390px) {
	.navigation {
		flex-direction: column;
		justify-content: center;
	}
}


.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-top: 2px solid rgb(31, 31, 31);
    margin-top: 25px;
    padding-top: 10px;
}

.gallery-row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 1024px) {
	.gallery-row {
		justify-content: center;
	}
}

.gallery-img {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-self: center;
	border: 2px solid rgb(31, 31, 31);
	height: 300px;
	width: 500px;
	border-radius: 16px;
}